* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.AboutContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 25px;
}
.AboutTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 8vh;
}

.AboutText {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding-left: 50vh;
  padding-right: 50vh;
  font-size: 20px;
  padding-bottom: 15vh;
}
.AboutImage {
  width: auto;
  background-image: url("../images/Veg-Only.png");
  height: auto;
}
