.ResultsRecipeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  max-width: 80%;
  margin: 2em auto;
  padding: 0 20px;
  gap: 0.5rem;
  border-radius: 30px;
}
.ResultsRecipeTitle h1 {
  max-width: 60%;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 20px;
  justify-content: center;
}

.ResultsRecipeImage img:hover {
  opacity: 0.4;
}
