@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,700&display=swap");

body {
  background-color: #fff;
}

* {
  font-family: "Comic Neue", cursive;
}

.Background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
  background-image: url("./images/From-Ingredients-to-Recipes.png");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  margin-bottom: 5vh;
}

/*------------Navbar--------------*/

/*------------IngredientList------------*/
