@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,700&display=swap");

body {
  background-color: #fff;
}

* {
  font-family: "Comic Neue", cursive;
}

.Background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 700px;
  background-image: url("./images/From-Ingredients-to-Recipes1.png");
  background-size: cover;
  background-position: center;
  /* opacity: 0.1; */
  margin-bottom: 5vh;
}
@media only screen and (max-width: 1440px) {
  .Background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    background-image: url("./images/From-Ingredients-to-Recipes1.png");
    background-size: cover;
    background-position: center;
    /* opacity: 0.9; */
    margin-bottom: 5vh;
  }
}
@media only screen and (max-width: 960px) {
  .Background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    background-image: url("./images/From-Ingredients-to-Recipes1.png");
    background-size: cover;
    background-position: center;

    margin-bottom: 5vh;
  }
}
@media only screen and (max-width: 760px) {
  .Background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background-image: url("./images/Veg-Only.png");
    background-size: cover;
    background-position: center;

    margin-bottom: 5vh;
  }
}

/*------------Navbar--------------*/

/*------------IngredientList------------*/
